@font-face {
  font-family: 'Roletop';
  src: url('fonts/bayoc___-webfont.woff2') format('woff2'),
       url('fonts/bayoc___-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: purple;
  }
  
    #Logo > img{
      widows: 150px;
      padding-right:.60em;
      padding-left: 1em;
      height: 4em;
 
 
    }
 
    #Logo{ 
     padding-right:.60em;
     padding-left: 1em;
     padding-top: 1em;
 
 
   }
    
 
    nav {
      background-color:#FFC600 ;
  }
  
  nav ul li:nth-child(2){
       
  }
  
  
  nav ul{
      overflow: hidden;
      display:flex;
      list-style-type: none;
      align-items: center;
      font-size: 1.5em;
      height: 4em;
     
    
     
  }
  nav a{
   color: #7D0093;
   text-decoration: none;
   
 
   }
 
  nav a:hover{
   color: #7D0093;
   
 
   
 
  }
  
  nav li {
    overflow: hidden;
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      padding: .60em 1em;
      justify-content: space-between;
      color: #7D0093;
  
  }
 
  nav  li:hover:first-child {
     border-bottom: 0px solid purple;
 }
 h1{
    
  color: #7D0093;
  font-family: "Roletop";
  font-size: 1.5em;
  padding: 1.5% 3%;
  font-size: 2em;
  justify-content: center;
  margin: 0 auto;
  display:flex; 
}
 h2 {
  /* Manter, se quiser o h2 no hgroup: */
  /* padding: 30px 0; */
  display: flex;
  justify-content: center;
  background-color: rgb(240, 188, 0);
  color: #7D0093;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  
}
.lista-pedidos{
  display: flex;
  flex-wrap: nowrap;
}
 
 nav  li:hover{
   border-bottom: 3px solid #7D0093;
 }
 
 main > h1{
   color: #FFC600;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2.3em;
 }
 table{
   height: 200px;
  font-size: 1.5em;
  border:"1";
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 0%;
  padding-left: 0%;
  width: 100%;
  
  
}

tbody{
  font-size: 1em;
  letter-spacing: 1px; 
  background-color: rgb(90, 2, 105);
  
}

tfoot{
  font-size: 75%;
  font-weight: bold;
  
  
}

thead{
  color: #FFC600;
  background-color: rgb(139, 4, 163);
  
}

td{
  text-align: left;
  color: white;
  border: 1px groove white;
  letter-spacing: 1px;
  text-align: center;

}


th{
  text-align: left;
  border: 1px groove white;
  color: #FFC600;
  text-align: center;
}

.espaco{
  height: 35em;
}
.espaco2{
  height: 2em;
}
 
 footer{
  
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1.3em;
   display:flex;
   justify-content:center;
   align-items: flex-end;
   color: #7D0093;
 }
 .grupo-flex{
    display:flex;
    color:black;
  }
  
  .flex{
    display:flex;
  }
  
  .noticia{
    justify-content: space-evenly;
    
  }
  
  #navmobile{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: none;
  }
  
  .navcolmobile{
        display:flex;
        width: 100%;
        flex-direction: column;
        font-size: 1.3em;
        color: #7D0093;
        font-size: 2em;
  
  }
  
  .navcolmobile > a:first-child{
    height: 1em;
    width: 1em;
    
  }
  .navrowmobile{
    display:flex;
    width: 100%;
    padding-bottom: .30em;
    align-items: center;
    border: 1px solid #7D0093; 
  }
  .navrowmobile > a{
  padding: 1em;
    
  }
  
  .navrowmobile > h1{
    margin: 0 auto;
    font-size: 1.3em;
    justify-content: center;
    
  }
  .navrowmobile a:hover{
    color: rgb(64, 1, 75);
    
  }
  
  @media(max-width: 600px){
    #navweb{
      display: none;
    
    }
  
    #navmobile{
      display:block;
    }
  
    .display{
      display: block;
    } 
  
    .hide{
      display:none;
    }
  
    #links{
      
    }
    

    